<div class="input-group" style="display: flex">
  <div class="input-group-prepend" style="flex: 0 0 0; width: 56px;">
    <span class="input-group-text">
      <i class="material-icons"><%= icon %></i>
    </span>
  </div>
  <div style="flex: 1 1 auto">
    <%= yield %>
  </div>
</div>
