<div class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://res.cloudinary.com/dyocdwgu9/image/upload/v1543549512/gestuno/bkg4.jpg');">
  </div>
  <%# <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="title">Let's get started</h1>
          <h4>To get started, you will need to choose a plan for your needs. You can opt in for the monthly of annual options and go with one fo the three listed below.</h4>
        </div>
    </div>
  </div> %>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="description text-center">
            <% if @users.count == 0 %>
              <div class="terp-button styled-dark">
                <h3>There are no <%= @user_type %>s available online.</h3>
              </div>
            <% else %>
              <div class="terp-button styled-darker">
                <i class="fas fa-circle"></i>
                <h3> <%= @users.count %> <%= @user_type %>s available now</h3>
              </div>
          </div>
        </div>
        <div class="row">
          <%= render 'shared/table' %>
          <% end %>
        </row>
      </div>
    </div>
  </div>
</div>
