<div class="container" >
  <div class= "card-body">
  <%= image_tag "bill.jpeg", id: "thumbnail"%>
  <div class="card-user">
  <h2>Bill Vicars</h2>
    <button type="button" class="btn btn-primary"></button>
    <p>offline now</p>
  </div>
 </div>
</div>
 <div class="row">
  <div class="col-md-4">
  <h2>Languages</h2>
  <h2>Certifications</h2>
   <h2>Reviews</h2>
     <p>432 rated you</p>
  </div>
 <div class="col-md-4">
  <h3>Auslan, ASL, CSL</h3>
  <h3>Naati level 2</h3>
  <h2>Star Rating</h2>
  <div class="ratings">
    <i class="fas fa-star checked"></i>
    <i class="fas fa-star checked"></i>
    <i class="fas fa-star checked"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </div>

 </div>
</div>

