<div class="page-buffer" >
  <div class="show-card">
    <div class="styled-darker">
      <h3>BILL VICAR</h3>
      <br>
      <%= image_tag "bill.jpeg", class: "img profile-image" %>
      <h3>CERTIFICATION</h3>
      <p>NAATI Level 2</p>
      <h3>LANGUAGES</h3>
      <p>Auslan (Australian Sign Language)</p>
      <h3>REVIEWS</h3>
      <p>132 customers have rated your service:</p>
      <div class="ratings">
        <i class="fas fa-star fa-2x checked"></i>
        <i class="fas fa-star fa-2x checked"></i>
        <i class="fas fa-star fa-2x checked"></i>
      </div>
    </div>
  </div>
</div>

<div class="btn-centered text-center" style='margin-top: 50px'>
  <%= form_tag(controller: :calls, action: :create, method: :post) do %>
    <%= button_tag type: 'submit', class: 'call-button-start', title: 'Start call' do %>
      <i class="fas fa-phone"></i>
    <% end %>
  <% end -%>
</div>
