<div class="call-page">
  <div class="bg"></div>
  <div id="remote-media"></div>
  <div id="controls">
    <div id="local-media"></div>
    <div id="hud">
      <div>
        <span id='timer' class="time">00:00</span>
      </div>
      <div>
        <span class="interlocutor-name"><%= @interlocutor.name %></span>
      </div>
    </div>
    <div id="room-controls">
      <a class='call-button-end' id='button-end-call' title='End call'><i class="fas fa-phone-slash"></i></a>
    </div>
    <div id="log"></div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="//media.twiliocdn.com/sdk/js/video/v1/twilio-video.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <% content_for(:suppress_footer?) { 'true' } %>

</div>
