
<script>
  // HACK - gets around loading issue

  document.addEventListener('DOMContentLoaded', () => {
    setTimeout(function() {
      document.querySelector('.gu-loading-dots').classList.add('animate');
    }, 1000);
  });
</script>

<div class='gu-loading-dots'>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
