<% @interpreters.each do |user| %>
  <div class="card" style="background-color: white;">
    <img class="card-photo" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <div class="card-title styled-darker">
      <p><strong><%= Utils.email_to_name(user.email) %></strong></p>
      <div class="ratings">
        <i class="fas fa-star checked"></i>
        <i class="fas fa-star checked"></i>
        <i class="fas fa-star checked"></i>
      </div>
    </div>
    <div>
      <%= link_to "VIEW PROFILE", interpreter_path(user), class: "btn-round"  %>
    </div>
  </div>
<% end %>