<% @interpreters.each do |user| %>
  <div class="card" style="background-color: white;">
    <%= render 'shared/avatar', user: user, scale: :small %>
    <div class="card-title styled-darker">
      <p><strong><%= Utils.user_to_name(user) %></strong></p>
      <div class="ratings">
        <i class="fas fa-star checked"></i>
        <i class="fas fa-star checked"></i>
        <i class="fas fa-star checked"></i>
      </div>
    </div>
    <div>
      <%= link_to "VIEW PROFILE", interpreter_path(user), class: "btn-round"  %>
    </div>
  </div>
<% end %>
