<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.gest.uno">
              Gestuno
            </a>
          </li>
          <li>
            <a href="https://gest.uno/aboutus">
              About Us
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script> - made with <i class="material-icons icon icon-warning">favorite</i> by
        Team Gestuno at LeWagon #194.
      </div>
    </div>
  </footer>