
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card card-plain">
                <div class="card-header card-header-primary">
                    <h4 class="card-title mt-0">Historical Table</h4>
                    <p class="card-category">Table table</p>
                </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Duration</th>
                            <th>Cost</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Interpreter/Customer</td>
                                <td>12 mins</td>
                                <td>$12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>