<p>Toggle to ON to start interpreting!</p>
<br>
<label class="switch switch_type1" role="switch">
  <input type="checkbox" class="switch__toggle" checked>
  <span class="switch__label"></span>
</label>