<div class="page-buffer">
  <div class="show-card styled-darker">
    <h3>My Profile</h3>
    <img class="call-avatar" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <h3><%= @customer.name %></h3>
    <br>
    <%= link_to "Find An Interpreter", interpreters_path, class: "btn-round"  %>
    <h3>LANGUAGE PREFERENCE</h3>
    <p>Auslan</p>
    <%= link_to "Update my information", edit_customer_path, class: "btn-blue"  %>
  </div>
</div>