<%= render 'shared/page_banner', bg_img: 'https://res.cloudinary.com/dyocdwgu9/image/upload/v1543550218/gestuno/bck.jpg', height: '50vh' do %>

  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="title">About Us</h1>
            <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
        </div>
    </div>
  </div>

<% end %>

</div>