<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner_image.jpg'%>);">
  <div class="banner-content">
    <h3 class="content-top">Book a Sign Language Interpreter anytime, anywhere</h3>
    <h3 class="content-bottom">Learn More</h3>
    <i class="fas fa-angle-down fa-3x"></i>
  </div>
</div>
<div class="container">
  <h2>How does it work?</h2>
  <div class="tabs">
    <a class="tab active" href="#">
      <h3>Deaf User</h3>
    </a>
    <a class="tab" href="#">
      <h3>Interpreter</h3>
    </a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-description">
          <p>Need a Sign Language interpreter now?</p>
          <p>You can:</p>
          <p>See list of interpreters available online</p>
          <p>Choose and call an interpreter</p>
          <p>$1.50 per minute</p>
          <p>Maximum 30 minutes per call</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card">
      <div class="card-description">
        <p>Available but no interpreting jobs?</p>
        <p>You can:</p>
        <p>Choose your availability</p>
        <p>$1 per minute</p>
        <p>Maximum 30 minutes per call</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>