<div class="parallax">
  <div class="banner">
    <h3 class="banner-title styled">
      Book a Sign Language Interpreter anytime, anywhere
    </h3>
    <div class="banner-info">
      <%= link_to "JOIN", @new_user_registration_path, class: "btn-blue"  %>
      <h3 class="bottom styled">
        Learn More
      </h3>
      <i class="fas fa-angle-down fa-3x styled"></i>
    </div>
  </div>
</div>
<div class="container">
  <div class="styled-dark">
    <h2>How does it work?</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="landing-card">
        <div class="card-description">
          <h3>Deaf Customer</h3>
          <p>Need a Sign Language interpreter now?</p>
          <p><strong>You can:</strong></p>
          <p>See list of interpreters available online</p>
          <p>Choose and call an interpreter</p>
          <p>$1.50 per minute</p>
          <p>Maximum 30 minutes per call</p>
          <%= image_tag("https://res.cloudinary.com/lionelrowe/image/upload/c_scale,w_200/v1543314030/deaf_user_lou86y.jpg", class: "card-image") %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="landing-card">
        <div class="card-description">
          <h3>Interpreter</h3>
          <p>Available but no interpreting jobs?</p>
          <p><strong>You can:</strong></p>
          <p>Choose your availability</p>
          <p>$1 per minute</p>
          <p>Maximum 30 minutes per call</p>
          <%= image_tag("https://res.cloudinary.com/lionelrowe/image/upload/c_scale,w_200/v1543314042/interpreter_xyzqdp.jpg", class: "card-image") %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax">
  <div class="styled">
    <h3>FAQs</h3>
    <p>Q1</p>
    <p>Q2</p>
    <p>Q3</p>
    <p>Q4</p>
    <p>Q5</p>
  </div>
</div>