.top {
  display: flex;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 60%;
  width: 80%;
}

.banner-title {
  margin-bottom: 50px;
}

.parallax {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/lionelrowe/image/upload/c_scale,w_1800/v1543314553/banner_image_zp39gk.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
