@mixin call-button($base) {

  $text: $off-white;

  background: $base;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: $text !important;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin: 0 auto;
  padding: 0;
  align-self: center;

  &:focus {
    outline: none;
  }
}

@mixin call-button-enabled($base) {
  cursor: pointer;

  &:active {
    background: lighten($base, 7) !important;
  }

  &:hover {
    background: lighten($base, 3);
  }
}

@mixin call-button-disabled {
  cursor: default;
}


@mixin call-button-offset {
  position: absolute;
  bottom: 0;
  right: 25%;
}

.call-action {
  position: relative;
  padding-bottom: 10px;
}

.call-button-end {
  @include call-button($red);
  @include call-button-enabled($red);
}

.call-button-start {
  @include call-button($green);
  @include call-button-enabled($green);
  @include call-button-offset;
}


.call-button-offline {
  @include call-button($medium-light-gray);
  @include call-button-disabled;
  @include call-button-offset;

  i {
    font-size: 1em !important;
  }
}
