.call-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  // border: 1px solid rgba(0,0,0,0.3);
  // box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.call-card .gu-avatar {
  margin: 20px 0;
}

.call-card p {
  margin: 0px;
}

