.card-category {
  border-radius: 6px;
  margin-top: 20px;
  text-align: center;
}

.profile-header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-image {
  align-items: center;
  padding-left: 40px;
  margin-right: 80px;
  border-radius: 6px
}

.profile-body {
  display:flex;
  background-color: #4DBAC7;
  margin-top: 30px;
}

.upload-pic {
  margin-top: 40px;
}

