.landing-card {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  margin-bottom: 20px;
  height: 250px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-description {
  color: black;
  padding-left: 20px;
  display: flex;
  min-width: 250px;
  flex-grow: 1;
  flex-direction: column;
}

.card-description h3 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.9;
}

.card-image {
  max-width: 30%;
  border-radius: 50%;
  margin: 10px;
}

.card-desc {
  color: #2C3E50;
  padding-top: 20px;
}
