.img.profile-image {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  image-overflow: hidden;
}

.show-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  padding: 20px;
  background-color: white;
  border-radius: 2px;
}

.show-card h3 {
  margin-bottom: 0px;
}

