.styled {
  color: white;
  text-align: center;
}

.styled-dark {
  color: black;
  text-align: center;
}

.home-card {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.page-buffer {
  margin: 0px auto;
  width: 970px;
}

