.styled {
  color: white;
  text-align: center;
}

.styled-dark {
  color: rgba(0,0,0,0.6);
  text-align: center;
}


.styled-darker {
  color: rgba(0,0,0,0.7);
  text-align: center;
}

// .home-card {
//   border: 1px solid rgba(0,0,0,0.3);
//   box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
// }

// .page-buffer {
//   margin: 0px auto;
//   background-color: #f6f6f6;
//   padding-bottom: 70px;
//   padding-top: 10px;
// }
