<!-- STRIPE - PAYMENT SUCCESS MESSAGE -->
<h2>Thank you for calling with <%= @call.interpreter.name %></h2>
<p>You paid <strong><%= @cost %></strong> for <strong><%= @duration %></strong> minutes!</p>